.greenBoxes{
    width : 50px;
    height: 30px;
    position: absolute;
    z-index: -1;
}



.gridList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
li{
    list-style: none;
}

.display{
display: flex;
}

@media screen and (max-width : 1010px) {
    .display{
        flex-direction: column;
        align-items: center;
    } 
}