


.footer{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    background-color: #fff;
    padding: 1.5px;
    max-width: 80%;
    transform: translateY(20px);
}
.galImg{
    max-width: 100%;
    max-height: 80px;
    width: 100%;
    height: 100%;
    background-size: cover;
    border: 2px solid #86b817;
}