.cards{
    max-width: 100%;
    height: auto;
    width: 100%; 
    object-fit: cover;
}

.card img{
    width: 100%;
    height: 250px;
    transition: 0.3s;
    
}

.trg{
   object-fit :fill!important; 
}

.card:hover img{
    
    scale: 1.15;
}

.sosialMedia{
    transition: 0.3s;
    background-color: #fff;
    color: #86b817;
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #86b817;
}

.sosialMedia:hover{
    background-color: #86b817;
    color: #fff;
}