@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
list-style: none;
}

:root{
    --color : #86b817 ;
}


.green{
    color : var(--color);
}

.greenBackground{
    background-color: var(--color);
}


.textBorders{
    height : 2px;
    position: relative;
}


.servicesCard:hover{
    background : var(--color) ;
    color: #fff;
}


.servicesCard:hover h1 i{
    color: #fff!important;
}

.servicesCard{
    transition: 0.5s;
}

.flex0{
    flex: 0;
}

.flex1{
    flex: 1;
}
.flex2{
    flex: 2;
}

.btn:focus{
    box-shadow: 0px 0px 10px 3px #aeff0065;
}

*::selection{
    background-color: #85b8176c;

}

@media screen and (min-width : 1100px) {
    *{
        opacity: 1;
    }
    
}
